name: Publish latest Docker images
on:
  push:
  release:
    types:
      - published
jobs:
  build-and-publish-latest:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
    - uses: actions/checkout@v2
    - name: Build and publish latest image
      uses: VaultVulp/gp-docker-action@1.2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        image-name: ddapm-test-agent
        dockerfile: Dockerfile
        image-tag: latest

  build-and-publish-release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v2
      - name: Build and publish latest image
        uses: VaultVulp/gp-docker-action@1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          image-name: ddapm-test-agent
          dockerfile: Dockerfile
          extract-git-tag: true
