name: CI
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: pip install .[testing]
      - run: riot -v run -s check_fmt
      - run: riot -v run -s flake8
      - run: riot -v run mypy
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.8", "3.12"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: install deps
        run: pip install .[testing]
      - run: |
          riot run -p ${{ matrix.python-version}} test
